---
import Layout from '../layouts/Layout.astro';
import icon from '../assets/icons/magnifier.png';
import { fetchDefinition, saveWord } from '../utils/api';
---
<Layout title='New word' subhead='add a new word to your bank!'>
       <!-- Single container with relative positioning -->
    <div class="relative m-2">
        <div id="word-input" class="flex items-center rounded-md p-4 bg-slate-50 pl-3 outline-1 -outline-offset-1 outline-gray-600">
            <input id="search-bar" placeholder="enter word" type="text" class="w-full p-2"/>   
        </div>
        <button id="search-btn" class="absolute right-4 top-1/2 transform -translate-y-1/2 hover:bg-gray-100 rounded-md hover:cursor-pointer">
            <img src={icon.src} alt="search icon" class="h-8 w-8 sm:h-10 sm:w-10">
        </button>
    </div>
    <div id="meaning" class="border-2 border-gray-950 p-4 mt-4 bg-slate-50">
        <h1 class="text-2xl">Meaning</h1>
        <p>
            Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
            suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
            nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
            turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
            dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
            semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
            vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
            facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
            vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
            urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
        </p>
    </div>
    <div>
        <input id="book-ref" type="text" placeholder="book reference" class="w-full p-2 mt-4 border-2 border-gray-300 rounded-md shadow-md bg-slate-50"/>
    </div>
    <button class="mt-4 px-4 py-2 bg-yellow-50 border-2 border-gray-950 rounded-md hover:bg-yellow-100 hover:cursor-pointer">
        Save
    </button>
    <script type="module">
        const searchBtn = document.getElementById('search-btn');
        const wordInput = document.getElementById('word-input');
        const meaningDiv = document.getElementById('meaning');

        searchBtn?.addEventListener('click', async () => {
            const word = wordInput.value;
            const data = await fetchDefinition(word);
            meaningDiv.textContent = data.definition;
        });
    </script>
</Layout>