---
import Layout from "../layouts/Layout.astro";
---
<Layout title="previous words" subhead="[word]">
    <hr class="my-4 border-gray-500" />
    <p>Thursday 12 December 2005</p>
    <p>at 8:40pm</p>
    <div class="border-2 border-amber-300 p-4 mt-4 bg-yellow-50">
        <h1 class="text-2xl">Meaning</h1>
        <p>
            Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
            suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
            nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
            turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
            dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
            semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
            vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
            facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
            vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
            urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
        </p>
    </div>
    <p class="text-lg mt-5">The book you got it from</p>
    <div class="border-2 border-amber-300 p-4 mt-4 bg-yellow-50">
        <h1 class="text-2xl">Book Name</h1>
        <p>
            By [Author Name]
        </p>
    </div>
    <a href="/AddWord">
        <button class="mt-4 px-4 py-2 bg-zinc-50 border-2 border-zinc-950 rounded-md hover:bg-neutral-100 hover:cursor-pointer">
            add word
        </button>
    </a>
</Layout>